# Environment files and local packages
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
.venv/
.env
.env.*

# Cache and logs
*.log
.cache/
.pytest_cache/
.coverage
htmlcov/

# Build directories and distribution files
build/
dist/
*.egg

# Alembic and temporary migration files
migrations/__pycache__/
alembic/__pycache__/

# Local Settings
.vscode/
.idea/
*.sqlite3


# System files
.DS_Store
Thumbs.db

# Dockerfile for future deploy purposes
Dockerfile